* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.2em;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: #00b09b;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
